rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null
        && request.auth.uid == "ReQVttygm9PobhrJdfjEdwGPobl1";
    }
    match /articoli/{articleId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
    match /eventi/{eventId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
    match /impostazioni/orariMesse {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
    match /impostazioni/avviso {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
    match /impostazioni/immaginiPagine {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
    match /impostazioni/immaginiHome {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
    match /impostazioni/identitaSito {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
    match /impostazioni/temaSito {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
    match /impostazioni/contatti { allow read: if true; allow create, update, delete: if isAdmin(); }
    match /impostazioni/gruppi {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
    match /impostazioni/footer {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
    match /impostazioni/privacy {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
    match /impostazioni/parrocchia {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
  }
}